*{
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 100% / 100%;
    height: 100vh;
    margin: 0;
    justify-items: center;
    align-items: center;
    background-color: #afafaf;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
}

#calculator-container {
    display: grid;
    grid-template:  10% repeat(5, 1fr) / repeat(4, 1fr);
    height: 50%;
    width: 75%;
    box-shadow: 0px 0px 43px 24px rgb(151, 151, 151);
}

.button {
    display: grid;
    border: 2px black solid;
    align-items: center;
    justify-items: center;
    border-left: none;
    border-top: none;
    cursor: pointer;
}

.button:hover {
    background-color:red;
}

#results {
    display: grid;
    background-color: rgb(218, 218, 218);
    grid-column: 1 / 5;
    border: 2px black solid;
    align-items: center;
    justify-items: end;
    padding-right: 1rem;
    color: black;
    min-height: 1.5rem;
    letter-spacing: .8rem;
}

#number-button {
    background-color: #696868;
}

#operator-button {
    background-color: rgb(163, 163, 163);
}

#equal-button {
    background-color: rgb(173, 0, 0);
    
}

.button:nth-child(4n+2) {
    border-left: 2px solid #000000;
}
#number-button:hover {
    background-color: white;
    color: black;
}
#operator-button:hover {
    background-color: white;
    color: black;
}
#equal-button:hover {
    background-color: rgb(255, 52, 52);
}

